body {
    margin: 0 !important;
    padding: 0 !important;
}

.box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box-inner {
    background: green;
    opacity: 0.6;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.box-form {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* центрирование */

    margin: auto;
    /* центрирование */
    border: 2px solid black;
    width: 300px;
    height: 250px;
}